@media only screen and (min-width: 32.51em) {

    main{
        grid-template-columns: 1fr 1fr;
    }
    img {
        float: right;
        margin-right: 10px;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    }

    li {
        font-size: 15px;
    }
}