@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
@import url('/css/normalize.css');


html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
}

nav {
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    padding: .5em;

}

main {
    display: grid;
    grid-template-columns: 1fr;
}

header {
    background-color: rgb(183, 218, 241);
    padding: 3em;
    
}

/* List Component */
ul {
    padding: 1em;
    margin-left: 100px;
}

li {
    padding: .5em;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

footer {
    clear: both;
    left: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    padding: 3em;
    background-color: rgb(183, 218, 241);
    color: rgb(5, 56, 90);
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 56, 90);
    margin-left: 55px;
    font-size: 2.5em;
    
}

h2 {
    margin-left: 55px;
    color: rgb(5, 56, 90);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 1.5em;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 56, 90);
    text-align: center;
    padding: 1em;
}

p {
    font-family: 'Raleway', sans-serif;
    padding: 1em;
}

img {
    height: 350px;
    margin: 25px 85px 25px 2px;
    box-shadow: 3px 3px 3px black;
}

.title {
    text-align: center;

}