@media only screen and (min-width: 40em) {

main {
    margin: 0px 80px 0px 80px;
}

#second {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#boston {
    background-color: white;
}

#manaus {
    background-color: #FFD6bA;
}

#name, #guests, #start, #end, #temple, #number, #email, #special {
    size: 100px;
}

#quad {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
        
}

nav ul.hide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
}

nav button {
    display: none;
}



}