@media only screen and (min-width: 40em) {

main {
    margin: 0px 80px 0px 80px;
}

#reserve {
    margin: 10px 75px 10px 75px;
}

#large {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#second {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#boston {
    background-color: white;
}

#manaus {
    background-color: #FFD6bA;
    border-radius: 10px;
}

#name, #guests, #start, #end, #temple, #number, #email, #special, #fullname, #subject, #message {
    width: 100%;
}

#quad {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#two, #four{
    grid-column: span 2;
}

#align {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info {
    margin-top: 0px;
}

#map {
    margin-top: 30px;
    width: 450px;
    height: 300px;
}

#thank {
    font-size: 20px;
}



main ul li a {
    font-size: 25px;
}

.title {
    font-size: 40px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
        
}

nav ul.hide {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
}

nav button {
    display: none;
}



}