@media only screen and (min-width: 60em) {

main {
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
}

#compContainer {
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-size: 2.5em;
}

h2, h3, h4, h5, h6 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

nav ul li {
    font-size: 1.5em;
    padding: .5em;
}

footer {
   font-size: 1.35em;
}

#wrapper {
    width: 100%;
}

.location {
    grid-column: span 3;
}

.current {
    grid-column: span 3;
}

.conditions {
    grid-column: span 1;
}
}