@media only screen and (min-width: 60em) {

main {
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

h2, h3, h4, h5, h6 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

nav ul li {
    font-size: 1.5em;
    padding: .5em;
}

footer {
   font-size: 1.35em;
   width: 1350px;

}

header {
    grid-column: span 3;
}

#wrapper {
    width: 1350px;
}
}