@media only screen and (min-width: 45em) {

    main {
        grid-template-columns: 1fr;
    }
    
    #compContainer {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 70px 0px;        
    }
    #wrapper {
        width: 1000px;
    }

    footer {
        font-size: 1.25em;
        width: 1000px;
        
    }
 
    nav ul li a {
        border-top: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        text-align: center;
    }

    nav ul.hide {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    nav button {
        display: none;
    }

    .location {
        grid-column: span 3;
    }

    .current {
        grid-column: span 3;
    }

    
}