@media only screen and (min-width: 45em) {

    main {
        grid-template-columns: 1fr;
    }
    
    #compContainer {
        grid-template-columns: 1fr 1fr;
        padding: 70px 0px;  
        max-width: 100%;

    }

    p {
        margin: 0px;
    }

    #wrapper {
        max-width: 100%;
    }

    footer {
        font-size: 1.25em;
        width: 100%;
    }

    h1 {
        text-align: center;
    }
 
    nav ul li a {
        border-top: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        text-align: center;
    }

    nav ul.hide {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    nav button {
        display: none;
    }

    .location {
        grid-column: span 2;
    }

    .current {
        grid-column: span 2;
    }

    .conditions {
        grid-column: span 2;
    }

    header {
        width: 100%;
    }

    
}